<!--
        regex.tmpl
        
        Copyright 2009 Jelle Smet web@smetj.net
-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<STYLE TYPE="text/css">
<!--

deco_normal
	{
	color:black;
	font-family: Verdana;
	font-size: 10pt;
	}
title1
   {
   color:white;
   font-size:14pt;
   font-family:Verdana;
   font-weight:bold;
   }
title2
   {
   color:white;
   font-size:8pt;
   font-family:Verdana;
   font-weight:bold;
   }
title3
   {
   color:black;
   font-size:10pt;
   font-family:Verdana;
   }
text
   {
   color:black;
   font-size:8pt;
   font-family:Verdana;
   }
a
   {
   text-decoration:none;
   }
 }
-->
</STYLE> 
<head>	
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
</head>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<body link="black" vlink="black" alink="black">
<table width="100%" bgcolor="black">
	<tr rowspan=2 valign="middle">
		<td width="30%"><A href="/"><title2>Index</title2></A></td><td align="center" width="40%"><title1>MoLog</title1></td><td width="30%" align="right"></td>
	</tr>
</table>
<form name="submit" action="/edit/" method="post">
<input type="hidden" name="command" value="submit">
<input type="hidden" name="hostname" value=$hostname>
These regular expressions define which log entries are excluded from generating alerts.
<br>
<br>

Regex for host: $hostname<br>
<center>
<table border>
	<tr>
	<td width= 10%>ID</td>
	<td width= 79%>Regex</td><td width=5%><center>Warning</center></td><td width=5%><center>Critical</center></td><center><Delete></center></tr>
	#for $regex in $regexes
		<tr>
		<td>$regex[0]</td>
		<td><input type=text name="regex:$regex[0]" value="$regex[2]" size=100%></td>
		<td>
		<center>
		#if $regex[3] == 1
			<input type=checkbox name="warning:$regex[0]" checked>
		#else
			<input type=checkbox name="warning:$regex[0]">
		#end if
		</center>
		</td>
		<td>
		<center>
		#if $regex[4] == 1
			<input type=checkbox name="critical:$regex[0]" checked>
		#else
			<input type=checkbox name="critical:$regex[0]">
		#end if
		</center>
		</td>
		<td>
			<input type=checkbox name="delete:$regex[0]">
		</td>
		</tr>
	#end for
	<tr>
		<td></td>
		<td>
			<input type=text name="new:regex" value="" size=100%>
		</td>
		<td>
			<center>
			<input type=checkbox name="new:warning" checked>
			</center>
		</td>
		<td>
			<center>
			<input type=checkbox name="new:critical" checked>
			</center>
		</td>
	</tr>
	</form>
</table>
</center>
<br>

<input type="submit" value="submit">
</form>

<form name="cancel" action="/" method="post">
	<input type="submit" value="cancel">
</form>

<form name="delete" action="/edit/" method="post">
	<input type="hidden" name="command" value="del_regexes">
	<input type="hidden" name="hostname" value=$hostname>
	<input type="submit" value="delete">
</form>
</body>
</html>




